body {
  background-color: #f0f4f8;
  font-family: 'Segoe UI', sans-serif;
  color: black;
}

.tabla-formulario {
  max-width: 700px;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.tabla-formulario h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e3a8a;
}

table {
  width: 100%;
  border-spacing: 10px;
}

td {
  vertical-align: top;
  padding: 10px 0;
}

label {
  font-weight: 600;
  color: black !important;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 1rem;
  color: black !important;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

input[type="number"], select {
  color: black !important;
}

input:focus, select:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.6);
}

.fila-bloque {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.btn-primary {
  background-color: #2563eb;
  color: white;
  padding: 12px;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-secondary {
  background-color: #10b981;
  color: rgba(9, 6, 6, 0.904);
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.btn-secondary:hover {
  background-color: #059669;
}
